<!--
  Generated template for the QuotesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>quotes {{quoteCategory.category}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card *ngFor="let quote of quoteCategory.quotes; let i = index;" >
    <ion-card-header>#{{ i + 1}} Quote</ion-card-header>
    <ion-card-content>
      <p>{{quote.text}}</p>
      <p class="author">{{quote.person}}</p>
      <ion-row>
        <ion-col text-right>
          <button ion-button clear small (click)="onAddToFavorite(quote)">Favorite</button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
