<!--
  Generated template for the FavoritePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-toolbar>
    <ion-buttons start>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Favorite Quotes</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content padding>
  <ion-list>
      <ion-item *ngFor="let quote of quotes" (click)="onViewQuote(quote)" 
      [color]="getQuoteBg()">
        <h2>{{quote.person}}</h2>
        <p>{{quote.text}}</p>
      </ion-item>
  </ion-list>
  
</ion-content>
