<!--
  Generated template for the SettingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    
      <ion-toolbar>
        <ion-buttons start>
          <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
        </ion-buttons>
        <ion-title>Settings</ion-title>
      </ion-toolbar>
    
    </ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-label>Change Theme</ion-label>
      </ion-col>
      <ion-col>
        <ion-toggle (ionChange)="onToggle($event)" [checked]="useAltBg"></ion-toggle>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
