<ion-menu [content]="content">
    <ion-header>
        <ion-title>Menu</ion-title>
    </ion-header>
    <ion-content>
        <ion-list>
                <button ion-item (click)="onLoadPage(rootPage)">Quotes</button>
            <button ion-item (click)="onLoadPage(settingsPage)">Settings</button>
        </ion-list>
    </ion-content>
</ion-menu>
<ion-nav [root]="rootPage" #content></ion-nav>
