<!--
  Generated template for the QuotePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{quote.person}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding text-center>
  <ion-card>
    <ion-row>
      <ion-col>
        <p>{{quote.text}}</p>
        <button ion-button outline (click)="onClose(true)">UnFavorite</button>
      </ion-col>
    </ion-row>
  </ion-card>
  <button ion-button color="danger" (click)="onClose()">Close</button>
</ion-content>
