<!--
  Generated template for the LibraryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>library</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <button ion-item *ngFor="let quoteCategory of quotesCollection" [navPush]="quotesPage" [navParams]="quoteCategory">
      <ion-icon [name]="quoteCategory.icon" item-left></ion-icon>
      <h2>{{quoteCategory.category}}</h2>
      <p>{{quoteCategory.quotes.length}} quotes</p>
    </button>
  </ion-list>
</ion-content>
